<h1 style="text-align: center;">Lista de Propiedades</h1>
 
<div class="col-sm-6 col-md-12" style="margin-top: 5%;">
  <ul class="thumbnails">
  <% @propiedades.each do |propiedad| %>
    <li class="span4" style="float: left; list-style: none;">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="thumbnail" style="width: 400px; margin: 10px;">
            <div class="caption">
              <h3>Provincia: <%= propiedad.provincia %></h3>
              <h6>Dimensiones: <%= propiedad.dimensiones %> Metros Cuadrados</h6>
              <p style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">Descripcion: <%= propiedad.descripcion %></p>
              <p>Valoracion: RD$ <%= propiedad.valoracion %></p>
              <div class="btn-group">
                <button type="button" class="btn btn-default"><%= link_to 'Show', propiedade_path(propiedad) %></button>
                <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_propiedade_path(propiedad) %></button>
                <button type="button" class="btn btn-default"><%= link_to 'Destroy', propiedade_path(propiedad), method: :delete, data: { confirm: 'Are you sure?' } %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>


<button type="button" class="btn btn-default"><%= link_to 'New Propiedad', new_propiedade_path %></button>
