<h1>New article</h1>

<%= form_for @propiedades do |form| %>

  <p>
    <%= form.label :descripcion %><br>
    <%= form.text_area :descripcion %>
  </p>
 
  <p>
    <%= form.label :direccion %><br>
    <%= form.text_field :direccion %>
  </p>

  <p>
    <%= form.label :ciudad %><br>
    <%= form.text_field :ciudad %>
  </p>

  <p>
    <%= form.label :provincia %><br>
    <%= form.text_field :provincia %>
  </p>

  <p>
    <%= form.label :pais %><br>
    <%= form.text_field :pais %>
  </p>

  <p>
    <%= form.label :valoracion %><br>
    <%= form.text_field :valoracion %>
  </p>

  <p>
    <%= form.label :dimensiones %><br>
    <%= form.text_field :dimensiones%>
  </p>
 
  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', propiedades_path %>

<!-- <div class="col-sm-6 col-md-6" style="margin:20%; margin-top: 5%;">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Example textarea</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> -->
