<h1>New article</h1>

<%= form_for @propiedades do |form| %>

  <p>
    <%= form.label :descripcion %><br>
    <%= form.text_area :descripcion %>
  </p>
 
  <p>
    <%= form.label :direccion %><br>
    <%= form.text_field :direccion %>
  </p>

  <p>
    <%= form.label :ciudad %><br>
    <%= form.text_field :ciudad %>
  </p>

  <p>
    <%= form.label :provincia %><br>
    <%= form.text_field :provincia %>
  </p>

  <p>
    <%= form.label :pais %><br>
    <%= form.text_field :pais %>
  </p>

  <p>
    <%= form.label :valoracion %><br>
    <%= form.text_field :valoracion %>
  </p>

  <p>
    <%= form.label :dimensiones %><br>
    <%= form.text_field :dimensiones %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', propiedades_path %>

